@charset "UTF-8";
/*Define All Colors*/
.bcolor-text-grey {
  background-color: #424242 !important; }

.bcolor-text-grey:hover {
  background-color: #e65100 !important; }

.bcolor-purple {
  background-color: #7e57c2 !important; }

.bcolor-purple:hover {
  background-color: #e65100 !important; }

.bcolor-red {
  background-color: #e54e7e !important; }

.bcolor-red:hover {
  background-color: #e65100 !important; }

.bcolor-blue {
  background-color: #5c6bc0 !important; }

.bcolor-blue:hover {
  background-color: #e65100 !important; }

.bcolor-yellow {
  background-color: #f57f17 !important; }

.bcolor-yellow:hover {
  background-color: #e65100 !important; }

.bcolor-green {
  background-color: #43a047 !important; }

.bcolor-green:hover {
  background-color: #e65100 !important; }

.bcolor-brown {
  background-color: #795548 !important; }

.bcolor-brown:hover {
  background-color: #e65100 !important; }

.bcolor-orange {
  background-color: #e65100 !important; }

.bcolor-orange:hover {
  background-color: #e65100 !important; }

.text-grey {
  color: #424242 !important; }

.purple {
  color: #7e57c2 !important; }

.red {
  color: #e54e7e !important; }

.blue {
  color: #5c6bc0 !important; }

.yellow {
  color: #f57f17 !important; }

.green {
  color: #43a047 !important; }

.brown {
  color: #795548 !important; }

.orange {
  color: #e65100 !important; }

.border-top-text-grey {
  border-top: 2px solid #424242; }

.border-top-purple {
  border-top: 2px solid #7e57c2; }

.border-top-red {
  border-top: 2px solid #e54e7e; }

.border-top-blue {
  border-top: 2px solid #5c6bc0; }

.border-top-yellow {
  border-top: 2px solid #f57f17; }

.border-top-green {
  border-top: 2px solid #43a047; }

.border-top-brown {
  border-top: 2px solid #795548; }

.border-top-orange {
  border-top: 2px solid #e65100; }

.border-right-text-grey {
  border-right: 5px solid #424242; }

.border-right-purple {
  border-right: 5px solid #7e57c2; }

.border-right-red {
  border-right: 5px solid #e54e7e; }

.border-right-blue {
  border-right: 5px solid #5c6bc0; }

.border-right-yellow {
  border-right: 5px solid #f57f17; }

.border-right-green {
  border-right: 5px solid #43a047; }

.border-right-brown {
  border-right: 5px solid #795548; }

.border-right-orange {
  border-right: 5px solid #e65100; }

.article {
  margin-top: 65px; }

.article-title {
  font-weight: 400;
  font-size: 1.4rem;
  display: block; }

.article-content-container {
  padding: 30px; }

.article-content {
  margin-top: 25px;
  font-size: 1.0rem;
  max-height: 110px;
  overflow: hidden; }

.article-footer {
  margin-top: 25px; }

.article-more {
  font-size: 1.0rem;
  font-weight: 500; }

.tags-container {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px rgba(204, 204, 230, 0.4);
  border-style: solid;
  min-height: 50px; }

.reveal-container {
  position: relative; }

.reveal-btn {
  position: absolute;
  bottom: 15px; }

.reveal-content {
  max-height: 375px;
  overflow: hidden; }

.tag-element {
  position: relative;
  top: 8px; }

.category {
  margin-top: 9px;
  font-weight: 400 !important;
  font-size: 0.85rem !important; }

.category-img-fix {
  max-height: 400px !important;
  cursor: default; }

.category-content {
  margin-top: 25px;
  font-size: 1.0rem;
  max-height: 220px;
  overflow: hidden; }

/*All Page Maybe Used*/
html {
  font-family: 'Roboto', 'Helvetica', '微軟正黑體', 'Microsoft JhengHei' ,'Arial', sans-serif; }

a {
  color: #5c6bc0; }

.tag {
  background-color: #CDEAEA;
  color: #333333;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 16px;
  font-weight: 400; }

.tag:hover {
  background-color: #2860A0;
  color: #ffffff; }

.category-container {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #f9f9f9; }

.category-container-title {
  background: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 0;
  padding: 15px 15px 18px; }

.category-card-fix {
  margin: 20px 35px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1); }

.card-img-fix {
  max-height: 300px !important; }

.horizontal-img-fix {
  max-width: 180px !important; }

.category-video-fix {
  margin: 20px; }

/*blog.app.blade.php*/
.logo-fix {
  font-size: 25px !important; }

.nav-icon-fix {
  height: 55px !important;
  line-height: 55px !important; }

.nav-height-fix {
  height: 55px;
  line-height: 55px; }

.nav-content-fix {
  position: absolute;
  top: auto;
  margin-left: 15px;
  margin-right: 15px; }

.float-position {
  bottom: 45px;
  right: 24px; }

.floating-fix {
  margin-top: 1.0px; }

/*blog.article.show.blade.php*/
.show-container {
  margin-top: 35px;
  width: 80%; }

.card-image-fix {
  overflow: hidden;
  width: 100%;
  max-height: 600px !important; }

.card-show-title {
  color: #212121;
  margin-top: 20px;
  margin-left: 55px;
  font-size: 300%; }

.card-show-category {
  font-weight: bold;
  position: relative;
  bottom: -25px;
  margin-top: 20px;
  margin-left: 55px; }

.show-date {
  margin-right: 15px; }

.card-content-fix {
  color: #424242;
  padding: 100px !important; }

/*blog.article.create.blade.php*/
.card-panel-container {
  margin-left: 25px;
  margin-right: 25px; }

.toast-error {
  background-color: #ef5350; }

/*blog.leftSide.blade.php*/
.slider-section {
  margin-top: 10px;
  margin-bottom: 10px; }

/*blog.rightSide.blade.php*/
.title-fix {
  margin-bottom: -5px; }

.search-input {
  display: inline-block;
  width: calc( 80% - 20px) !important; }

.search-icon-fix {
  top: 12px !important;
  left: 20px !important; }

.collection-fix {
  border: !important; }

.carrousel-fix {
  height: 180px; }

.carrousel-item-fix {
  margin-top: 0px !important;
  height: 130px !important;
  width: 130px !important;
  text-align: center !important; }

.carousel-item-container {
  height: 130px;
  width: 130px;
  background: white;
  color: white;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1); }

.carrousel-img {
  height: 130px !important;
  padding: 5px 8px; }

.module-1 {
  background: transparent;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  text-shadow: 0 0 12px #795548;
  color: white;
  width: 100%;
  height: 150px; }

.module-text {
  position: relative;
  transform: translateY(170%); }

/*# sourceMappingURL=blog-styles.css.map */
