// local define
//section class
.article {
    margin-top: 65px;
}

.tags-container {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px rgba(80%,80%,90%,0.4);
    border-style: solid;
    min-height: 50px;
}

.tag-element {
    position: relative;
    top: 8px;
}

.category {
    margin-top: 9px;
    font-weight: 400 !important;
    font-size: 0.85rem !important;
}
