/*Define All Colors*/
$colors: (text-grey : #424242, default : #00695c, purple : #7e57c2, red : #e54e7e, blue : #5c6bc0, yellow : #f57f17, green : #43a047, brown : #795548, orange : #e65100,);

@function color($key) {
     @if map-has-key($colors, $key){
        @return map-get($colors, $key);
    }
    @warn "Unknown `#{$key}` in $colors.";
    @return null;
}
@each $header,$color in $colors {
    .bcolor-#{$header} {
        background-color: $color !important;
    }
    .bcolor-#{$header}:hover {
        background-color: color(orange) !important;
    }
    // compile to like this
    // .bcolor-purple { background-color: #7e57c2 !important; }
}
@each $header,$color in $colors {
    .#{$header} {
        color: $color !important;
    }
    // compile to like this
    // .purple { color: #7e57c2 !important; }
}
@each $header,$color in $colors {
    .border-top-#{$header} {
        border-top: 2px solid $color;
    }
    // compile to like this
    // .border-top-purple { border-top: 2px solid #7e57c2; }
}
@each $header,$color in $colors {
    .border-right-#{$header} {
        border-right: 5px solid $color;
    }
    // compile to like this
    // .border-right-purple { border-right: 5px solid $purple; }
}
