html{
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
/*blog.app.blade.php*/
.nav-fix {
    margin-left: 5px;
    margin-right: 5px;
}
.floating-fix{
    margin-top: 2px;
}
/*blog.post.show.blade.php*/
.card-image-fix {
    height: 90%;
}
/*blog.leftSide.blade.php*/
.slider-section {
    margin-top: 10px;
    margin-bottom: 10px;
}
