.category-img-fix {
    max-height: 400px !important;
    cursor: default;
}
.category-content{
    margin-top: 25px;
    font-size: 1.0rem;
    max-height: 220px;
    overflow: hidden;
}
.collapible-section{
    background: white;
}
.collapsible-header > .tag{
    margin-left: 5px;
}
.badge-fix{
    background-color: #26a69a !important;
}
